.contain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
}

.logo {
    display: flex;
    justify-content: center;
    height: 63px;
    width: 100%;
}

.loc {
    display: flex;
    justify-content: center;
        &__city {
            display: flex;
            flex-direction: row;
        }
}