.loader {
    position: absolute;
    z-index: -10;
    height: 1200px;
    width: 100%;
    background: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    animation: loader 8s;
    opacity: 0;
}

.loader_img {
    width: 80%;
}

.loader2 {
    display: flex;
    justify-content: center;
    padding-top: 400px;
    margin: 0px auto;
}

.spinner {
    margin: 50px auto;
    color: #9356DC;
}


@keyframes loader {
    from {
        opacity: 1;
        z-index: 10;
        transition: 8s;        
    }
    to {
        z-index: 10;
        opacity: 0;
    }
}

.contain {
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.logo {
    display: flex;
    justify-content: center;
    height: 63px;
    width: 100%;
    box-shadow: 0px 6px 10px #00000026;
    border-bottom: 2px solid #00000026;
}

.logo__img {
    margin: 0px auto;
}

.logo__img--size {
    width: 162px;
    height: 64px;
}

.loc {
    background: #EAEAEA;
}

.loc__city {
    display: flex;
    justify-content: center;
}

.loc__city--row {
    display: flex;
    flex-direction: row;
}

.fa-location-dot {
    padding: 16px;
}

.explorer {
    display: flex;
    justify-content: center;
    background: #F6F6F6;
}

.explorer__bloc {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.explorer__bloc--h1 {
    font-size: 24px;
    margin: 25px 9px 10px;
    text-align: center;
}

.explorer__bloc--p {
    text-align: center;
    margin-top: 0px;
    padding: 10px;
}

.explorer__bloc--btn {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.btn {
    text-align: center;
    border-radius: 25px;
    border-style: none;
    color: white;
    background: linear-gradient(360.64deg, #9356DC -5.2%, #FF79DA 110.74%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    width: 218px;
    height: 50px;
}

.btn:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(356.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.btn:active {
    background: rgba(255, 255, 255, 1);
    color: #9356DC;
}

.nav {
    padding-bottom: 60px;
}

.nav__titre {
    font-size: 24px;
    padding-left: 10px;
}

.nav__list,
ul {
    list-style-type: none;
    padding-left: 0;
}

.nav__list--li-contain {
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
}

.numb {
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: -32px;
    padding-top: 4px;
    background: #9356DC;
    border-color: #9356DC;
    color: #FFFFFF;
    width: 24px;
    height: 22px;
}

.nav__list--li {
    display: flex;
    margin: 20px 25px;
    background: #F6F6F6;
    border-radius: 20px;
    box-shadow: 2px 4px 16px #00000026;
    text-align: center;
    padding: 20px;
}

.nav__list--color {
    background-color: #F5EDFF;
}

.li-icone {
    padding-right: 23px;
    color: #7E7E7E;
}

.resto {
    display: flex;
    align-content: center;
    flex-direction: column;
    background: #F6F6F6;
    padding-top: 20px;
}


.resto__carte {
    width: 99%;
    height: 251px;
}

.resto__carte--flex {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding-bottom: 40px;
    width: 98%;
}

.resto__titre {
    padding-left: 30px;
    font-size: 150%;
}

.resto__carte-a {
    width: 90%;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px #0000001A;
    z-index: 0;
}

.resto__img--inblok {
    position: relative;
}
.resto__img {
    object-fit: cover;
    height: 231px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.resto__img__nouveau {
    position: absolute;
    left: 73%;
    top: 6%;
    border: 2px solid #99E2D0;
    border-radius: 2px;
    background: #99E2D0;
    text-align: center;
    color: #008766;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 4px;

}

.resto__txt {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.resto__txt--flexbox {
    padding-left: 13px;
    font-size: 15px;
}

.resto__carte--position {
    position: relative;
}

.coeur {
    position: relative;
    padding: 44px 24px 33px;
}

.coeur2 {
    position: absolute;
    right: 28%;
    opacity: 0;
    background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.fa-heart:hover {
    transition: 250ms ;
    opacity: 0;
}

.coeur2:hover {
    transition: 250ms;
    opacity: 1;
}

footer {
    background-color: #353535;
    color: white;
}

.footer__contain {
    padding: 22px 25px;
}

.footer__logo {
    filter: invert(1);
    width: 137px;
    height: 27px;
}

.fa-utensils,
.fa-handshake-angle {
    padding-right: 5px;
}

.fa-utensils {
    padding-right: 11px;
}

.footer__ul {
    margin: 0;
    padding-top: 18px;
}

.footer__li {
    padding: 5px 0px;
}

@media screen and (min-width: 768px){
    
    .logo__img--size {
        width: 200px;
        height: 54px;
    }

    .loc__city--row {
        padding-right: 20px;
    }

    .loc__city--p {
        width: 109px;
        height: 19px;
    }

    .explorer {
        padding: 40px;
    }

    .nav {
        padding: 40px;
        margin-left: 12%;
    }
    
    .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .nav__list--li {
        margin: 0px 3vw;
    }
    
    .numb {
        margin-left: -32px;
    }

    .resto {
        padding: 50px;
    }
    
    .resto__bloc--margin {
        margin-left: 11%;
    }

    .resto__titre {
        font-size: 160%;
    }

    .resto__carte--flex {
        display: flex;
        flex-direction: row;
        overflow: scroll;
        padding-bottom: 70px;
        margin: 0px auto;
    }

    .resto__carte-a {
        margin: 0px 20px;
    }

    .resto__img {
        min-width: 340px;
    }


    .footer__contain {
        display: flex;
        flex-direction: row-reverse;
        margin-right: 50px;
        padding: 40px;
    }

    .footer__ul {
        display: flex;
        flex-direction: row;
        padding: 0px 20px;
    }

    .footer__li {
        padding: 5px 20px ;
    }

}